name: auth
services:
  db:
    container_name: db
    image: gimaevra94/Db:latest
    environment:
       MYSQL_ROOT_PASSWORD_FILE: /run/secrets/Db_password
       MYSQL_DATABASE: db
    volumes:
      - db:/var/lib/mysql
      - C:/Users/gimaevra94/Documents/git/auth/certs/mysql_cert:/etc/mysql/certs:ro
    ports: 
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    secrets:
      - Db_password
    #command: >
      # --ssl-ca=/etc/mysql/certs/ca.pem
      # --ssl-cert=/etc/mysql/certs/Db-cert.pem
      # --ssl-key=/etc/mysql/certs/Db-key.pem
      # --require_secure_transport=ON

    #app:
    # image: gimaevra94/app:latest
    #environment:
    # Db_PASSWORD_FILE: /run/secrets/Db_password
    #Db_USER: root
    #volumes:
    #  - /c/Users/gimaevra94/Documents/git/auth/public:/app/public
    #ports: 8000:8000
    #healthcheck: 
    #  test: ["CMD-SHELL", "wget -q http://localhost:8000/health || exit 1"]
    #  interval: 30s
    #  timeout: 10s
    #  retries: 3
    #  start_period: 5s
    #restart: unless-stopped
    #secrets:
    #  - Db_password
    #depends_on:
    #  Db:
    #    condition: service_healthy


volumes:
  db:

secrets:
  Db_password: 
    environment: DB_PASSWORD