<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
    <title>Your title</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="content-wrapper">
        <div class="container clearfix">
            <main class="content">
                <p style="text-align: left; font-size: 30px; margin: 0;">enter login, password and email</p>
                <form method="POST" action="/input_check">
                    <input type="text" name="login" required /><br><br>
                    <input type="password" name="password" required /><br><br>
                    <input type="email" name="email" required /><br><br>
                    <input type="checkbox" name="remember" /> Remember me<br><br>
                    <input type="submit" value="sign up" />
                    <p style="text-align: left; font-size: 15px; margin: 0;">or</p>
                </form>
                <form method="POST" action="/auth/yandex">
                    <input type="submit" value="Login with yandex" />
                </form><br><br>
            </main>
        </div>
    </div>
</body>

</html>